.PageHome {
	flex: 1;
	display: flex;
	flex-direction: column;

	.PageHome-feed {
		flex:1;
		display: flex;
		flex-direction: column;

		.Select {
			margin-left: auto;
			margin-top: 8px;
		}

		.PageHome-title {
			margin-bottom: 16px;
			margin-top: 24px;
		}

		.PageHome-list {
			flex: 1;
			display: flex;
			gap: 8px;
			flex-direction: column;
			overflow-y: auto;
			max-height: 430px;
		}
	}
}