font-face {
	font-family: 'Roboto Flex';
	src: url('/fonts/RobotoFlex-Variable.woff2') format('woff2'),
			 url('/fonts/RobotoFlex-Variable.woff') format('woff');
	font-weight: 100 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Mono';
	src: url('/fonts/RobotoMono-Variable.woff2') format('woff2'),
			 url('/fonts/RobotoMono-Variable.woff') format('woff');
	font-weight: 100 900;
	font-style: normal;
}